<h2>1. The most simple directive</h2>

<h4>Define a Directive:</h4>
<pre><code>.directive('simpleDirectiveOne', function(){
  return {
    restrict: "E",
    template: "<span>Simple directive</span>"
  };
})
</code></pre>

<h4>Use it:</h4>
<pre><code>&lt;simple-directive-one&gt;&lt;/simple-directive-one></code></pre>

<h4>Result:</h4>
<simple-directive-one></simple-directive-one>


<h2>2. Directive updates on changes in parent scope</h2>

<h4>Define setter functions in the parent scope:</h4>
<pre><code>.controller( 'ExamplesCtrl', function ExamplesCtrl( $scope ) {
  $scope.resetItems2 = function() {
    $scope.items = [];
  };
  $scope.setItems2 = function() {
    $scope.items = [
      "First item",
      "Second item",
      "Third item"
    ];
  };
})
</code></pre>

<h4>Define the Directive:</h4>
<pre><code ng-non-bindable>.controller( 'ExamplesCtrl', function ExamplesCtrl( $scope ) {
.directive('simpleDirectiveTwo', function() {
  return {
    scope: {
      items: '='
    },
    template: '&lt;div&gt;&lt;ul ng-repeat="item in items"&gt;' +
              '&lt;li&gt;{{item}}&lt;/li&gt;' +
              '&lt;/ul&gt;&lt;/div&gt;',
    replace: true
  };
})
</code></pre>

<h4>Use it:</h4>
<pre><code>&lt;simple-directive-two&gt;&lt;/simple-directive-two></code></pre>

<h4>Result:</h4>

<button ng-click="setItems2()">Set items</button>
<button ng-click="resetItems2()">Reset items</button>
<br>
<br>
<div simple-directive-two items='items'></div>


<h2>3. Parent scope callback receives parent scope data from directive</h2>

<h4>Define data and callback function in the parent scope:</h4>

<pre><code>.controller( 'ExamplesCtrl', function ExamplesCtrl( $scope ) {
  $scope.controllerCallbackThree = function(paramA, paramB) {
    alert(paramA + paramB);
  };
  $scope.dataA = "Parent scope callback received parent ";
  $scope.dataB = "scope data from directive.";
})</code></pre>


<h4>Define the Directive:</h4>
<pre><code ng-non-bindable>.directive('simpleDirectiveThree', function() {
  return {
    scope: {
      callback: '&attrCallbackThree'
    },
    link: function(scope, element, attrs) {
      element.on("click", function() {
        // http://stackoverflow.com/a/15898034/1431660
        // One reason to not use two-way binding:
        // sometimes you don't want to add additional scope properties for values
        // that are only needed by the callback functiom
        scope.callback({
          // In a real use case this could depend on
          // user interaction, calculation, resource interaction
          // but for demonstration purpose we only access some parent
          // scope vars and pass them to the callback. The point is that
          // the current values of dataA and dataB are accessed and not
          // at the moment of compilaiton
          a: scope.$parent.dataA,
          b: scope.$parent.dataB
        });
      });
    }
  }
})
</code></pre>


<h4>Use it:</h4>
<pre><code>&lt;button simple-directive-three attr-callback-three='controllerCallbackThree(a,b)'&gt;Directive 3&lt;/button&gt;
</code></pre>

<h4>Result:</h4>
<button simple-directive-three attr-callback-three='controllerCallbackThree(a,b)'>Directive 3</button>
